<p>Jason Mayer was raised in a large family that struggled to make ends meet.
He attended gifted and math and science magnet schools in the city but dropped out of high school and slacked off as a teen.
When he met Mandy Michel, he followed her to Seattle and became introduced to the world of technology. From that point, he 
worked hard to teach himself programming. Jason and Mandy returned to St. Louis, married, and had three children.
Concurrently, Jason excelled in his programming career and started Clever Monkey Games, in order to explore his passion for
game play. Jason currently works for the New York Times, building the crossword puzzle mobile app for Android phones.
He enjoys games of all sorts, science fiction movies and books, traveling, and spending time with his family. True to his nature
as a game player and programmer, Jason always finds a way to solve any sort of problem that arises, regardless of the topic.
He is constantly learning and growing.</p>
<hr/>