<p>Jason has worked as a back end Java developer for many great companies: <a href="https://www.enterprise.com/en/home.html">Enterprise</a>, <a href="https://www2.wwt.com/">World Wide Technology</a>,
and the <a href="https://www.nytimes.com/">New York Times</a>. He has also completed a successful <a href="https://www.kickstarter.com/">Kickstarter</a> campaign, leading to the distribution of his board game,
<a href="https://www.amazon.com/Gateway-Games-How-Serve-Man/dp/B01C7E06YG">How to Serve Man</a>, based very loosely on a Twilight Zone episode. Jason has built a couple of modest Android apps- a word game and
an arithmetic game. He dreams of achieving commercial success by creating his own roguelike video games.</p>
<hr/>